body {
    background: #ebebeb;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960pt;
    font-size: 18px;

}

header, nav, section, aside, footer {
    background: #ebebeb;
}


h1, p {
    color: #777;
    background: #ebebeb;
}

*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }
  
  section {
    float: left;
  }
  
  aside {
    float: right;
  }
  

  .container {
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
    color: #777;
 
  }
  
  header {
    
    height: 100px;
    padding: 10px;
    border: 5px solid;
    border-bottom: 10px solid ;
    text-align: center;
    margin-block-start: 50px
  }
  
  nav {
      background-color: #ebebeb;
      height: 100px;
      padding: 10px;
      border: 5px solid #777;
      border-bottom: 10px solid #777;
      text-align: center;
  }

  section {
    background-color: #ebebeb;
    width: 495px;
    height: 300px;
    padding: 10px;
    border: 5px solid gray;
    border-bottom: 10px solid gray;
    text-align: center;
  }
  
  article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
    border: 5px solid #ebebeb;
    border-bottom: 10px solid #ebebeb;
  }

  aside {
    background-color: #ebebeb;
    width: 495px;
    height: 300px;
    padding: 10px;
    border: 5px solid #777;
    border-bottom: 10px solid #777;
    text-align: center;
  }
  
  footer {
    
    width: 1000px;
    height: 100px;
    padding: 10px;
    border: 5px solid #777;
    border-bottom: 10px solid #777;
    text-align: center;
  }